
<!doctype html>
<html lang="en">
  <head>


    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   
    <title>Create a Your Account for {{params['blog_name']}}</title>
    

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename= 'vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename= 'css/signin.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename= 'vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
    type="text/css">
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
<link
    href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
  </head>

  <body class="text-center">


     <!-- Navigation -->
     <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/">{{params['blog_name']}}</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signin">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    
    
    <form class="form-signin" action="/signup" method="post">
        <br>
    <br><br><br><br>
      <h1 class="h3 mb-3 font-weight-normal">Create your account</h1><br>
      <label for="inputuname" class="sr-only">User Name</label>
      <input type="text" name="uname" id="inputEmail" class="form-control" placeholder="User Name" required autofocus><br>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="text" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus><br>
      <label for="age" class="sr-only">age</label>
      <input type="number" name="age" id="age" class="form-control" placeholder="Age" required autofocus><br>
      <label for="inputphone" class="sr-only">Phone Number</label>
      <input type="tel" name="phone" id="inputEmail" class="form-control" placeholder="Contact Number" required autofocus><br>
      <label for="inputPassword"  class="sr-only"> Password "</label>
      <input type="password" minlength="8" minlength="8" name = "pass" id="inputPassword" class="form-control" placeholder="Create Password (min 8 characters)" required>
      <div class="checkbox mb-3">
      </div>
      {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {{ messages[0] }}. Go to <a href="/signin" class="alert-link">login page</a> or else <a href="/signup" class="alert-link">try again</a>
      </div>
    {%else %}   
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    <p class="mt-5 mb-3 text-muted">Already have an account. <a class="nav-link" href="/signin">Log In</a></p>
    {% endif %}
    {% endwith %} 
      <p class="mt-5 mb-3 text-muted">&copy; {{params['blog_name']}}</p>2020-2021</p>
      
    </form>
<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename= 'vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename= 'vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Custom scripts for this template -->
<script src="{{ url_for('static', filename= 'js/clean-blog.min.js') }}"></script>
    
  </body>
</html>

