{% extends "layout.html" %}
{% block body %}
<!-- Page Header -->

<style type="text/css">
  A:visited { COLOR: black; TEXT-DECORATION: none; font-weight: normal }
  A:active { COLOR: white; TEXT-DECORATION: none }
  A:hover { COLOR: black; TEXT-DECORATION: none; font-weight: none }
  </style>

<header class="masthead" style="background-image: url('{{ url_for('static', filename= 'img/home-bg.jpg')}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Welcome <a id ="link" href="/user-profile-view/{{current_user.username}}">{{current_user.username}}</a></h1>
          <span class="subheading">Manage your Blogs and save them</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
    {% with messages =  get_flashed_messages() %}

    {% if messages[0] == "NOT OK" %}
    <div id="alert" class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            &nbsp;Please Upload the Image
        </div>
    {% endif %}

    {% if messages[0] == "OK" %}
    <div id="alert" class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
            &nbsp;Image Uploaded Successfully!
        </div>
      </div>
    {% endif %}

    {% if messages[0] == "Not Uploaded" %}
    <div id="alert" class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            &nbsp;Something went wrong! Upload failed.
        </div>
    {% endif %}

    {% if messages[0] == "Uploaded" %}
    <div id="alert" class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
            &nbsp;Post Uploaded Successfully!
        </div>
      </div>

    {% endif %}

    {% if messages[0] == "Not Edited" %}
    <div id="alert" class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            &nbsp;Something went wrong! Updation failed.
        </div>
    {% endif %}

    {% if messages[0] == "Edited" %}
    <div id="alert" class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
            &nbsp;Post Edited Successfully!
        </div>
      </div>
    {% endif %}

    {% if messages[0] == "Not Deleted" %}
    <div id="alert" class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            &nbsp;Something went wrong! Deletion failed.
        </div>
    {% endif %}

    {% if messages[0] == "Deleted" %}
    <div id="alert" class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
            &nbsp;Post Deleted Successfully!
        </div>
      </div>
    {% endif %}

    {% if messages[0] == "Username already exists" %}
    <div id="alert" class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            &nbsp;There is a user with same name or email id. Try again!
        </div>
    </div>
      {% endif %}
    

   
    {% if messages[0] == "Password do not match" %}
    <div id="alert" class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            &nbsp;Incorrect Password. Try again!s
      </div>
    </div>
    {% endif %}

    {% if messages[0] == "Profile Updated Successfully" %}
    <div id="alert" class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
            &nbsp;Profile Updated Successfully
      </div>
    </div>
    {% endif %}

    {%endwith %}

      <script type="text/javascript">
        setTimeout(function () {
            $('#alert').alert('close');
        }, 2500);
    </script>
  </div>
<!-- Main Content -->
<div class="container">
  <h1 class="text-center"> Actions</h1>
  <div class="text-center">
  </div>
  <div class="text-center">
    <p>

 <a href="/editpost/0"><button class="btn btn-primary">Upload A Post</button></a>&nbsp;&nbsp;
 
 <!-- Button trigger modal -->
 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Upload Post Image
  </button >&nbsp;&nbsp;

 <!-- Button trigger modal -->

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Update Profile</button>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="container">
<div class="container justify-content-center">
  
  <form class="form-signin" action="/updateprofile" method="post">
    <br>
  <h1 class="h3 mb-3 font-weight-normal">Edit Profile Details </h1><br>
  
  <label for="inputuname" class="sr-only">User Name</label>
  <input disabled type="text" name="uname" id="inputEmail" value="{{username}} (You can't edit your username because it is your unique id)."class="form-control" placeholder="User Name" required autofocus><br>


  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="text" name="email" id="inputEmail"value="{{email}}" class="form-control" placeholder="Email address" required autofocus><br>
  
  <label for="age" class="sr-only">age</label>
  <input type="number" name="age" value="{{age}}" id="age" class="form-control" placeholder="Age" required autofocus><br>
 
  <label for="inputphone" class="sr-only">Phone Number</label>
  <input type="tel" name="phone" value="{{phone}}" id="inputEmail" class="form-control" placeholder="Contact Number" required autofocus><br>
  
  <label for="inputPassword"  class="sr-only"> Password "</label>
  <input type="password" minlength="8" minlength="8" name = "pass" id="inputPassword" class="form-control" placeholder="Confirm Password" required>
  
  <div class="checkbox mb-3">
  </div>

<br>
<button class="btn btn-primary " type="submit">Confirm Updation</button>
<br><br>
</form>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
  Delete this account
</button>
<br><br>

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning!!!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div  class="alert alert-danger d-flex align-items-center" role="alert">
            Your account will be permanently deleted. Are you sure you want to proceed.
        </div>
    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><a href="#"><strong>Cancel</a></button>
          <button type="button" class="btn btn-secondary"><a href="/delete_account">Yes I am Sure</a></button>
        </div>
    </div>
  </div>
</div>





</div>
      </div>
     
    </div>
  </div>
</div>
  

  <!--Update Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Upload The Image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/uploader" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
              <button type="submit" class="btn btn-primary btn-small">Upload</button>
            </form>
          </div>
      </div>
    </div>
  </div>
     </p>
  </div>
<br>

 <div class="container">
    <h2 class="text-center"><u>Your Posts</u> </h2>
</div>
<br>
  <table class="table text-center">
    <thead>
      <tr>
        <th>Serial no</th>
        <th>Title</th>
        <th>Date of last Edit</th>
        <th>Image filename</th>
        <th>Edit</th>
        <th>Delete</th>
    
      </tr>
    </thead>
    <tbody>
    {% set count = namespace(value=1) %}
    {% for post in posts %}
      <tr>
        <td>{{count.value}}</td>
        <td>{{post.title}}</td>
        <td>{{post.date}}</td>
        <td>{{post.img}}</td>
        <td><a href="/editpost/{{post.sno}}"><button class="btn btn-primary">Edit</button></a></td>
       <td> <a href="/delete/{{post.sno}}"><button type="button" class="btn btn-primary">Delete</button></a></td>
      </tr>
      {% set count.value = count.value + 1 %}
      {% endfor %}
    </tbody>
  </table>
  <hr>
</div> 
{% endblock %}
