{% extends "layout.html" %}
{% block body %}

<header class="masthead" style="background-image: url('{{ url_for('static', filename= 'img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h3>You are viewing the profile of </h3><br><h1 style ="COLOR: black">{{userdata.username}}</h1>
            <br>
            <span class="subheading"><h3>Email: {{userdata.email}}</h3></span>
            <span class="subheading"><h3>Member since: {{membersince}} days</h3></span>
            <span class="subheading"><h3>Age: {{userdata.age}} years</h3></span>
            <span class="subheading"><h3>Total Number of Posts: {{number_of_posts}}</h3></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <h1 class="text-center"> Posts of {{userdata.username}}</h1>
  <div class="container">
</div>
<br>
  <table class="table text-center">
    <thead>
      <tr>
        <th>Serial no</th>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Published Date</th>
        <th>View Post</th>
    
      </tr>
    </thead>
    <tbody>
    {% set count = namespace(value=1) %}
    {% for post in posts %}
      <tr>
        <td>{{count.value}}</td>
        <td>{{post.title}}</td>
        <td>{{post.subtitle}}</td>
        <td>{{post.date}}</td>
        <td><a href="/post/{{post.slug}}"><button class="btn btn-primary">View</button></a></td>
      </tr>
      {% set count.value = count.value + 1 %}
      {% endfor %}
    </tbody>
  </table>
  <hr>
</div>

{% endblock %}
